@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@100..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* COLORS */
    --main-color: #cc0266;
    --main-background-color: #000000;
    --main-font-color: #ffffff;
    --dividers: #575757;

    /* TITLE */
    --title-font-family: "Anek Tamil", sans-serif;
    --title-size: 1rem;
}
body {
    background-color: var(--main-background-color);
    color: var(--main-font-color);
}

.pink-section-header {
    width: 100%;
    height: 2.5rem;
    background-color: var(--main-color);
}
a {
    font-size: var(--title-size);
    font-family: var(--title-font-family);
}
