.register-form-container,
.login-form-container {
    padding: 2rem;
    display: flex;
    justify-content: center;
    height: fit-content;
}
.login-form,
.register-form {
    background-color: var(--main-background-color);
    width: 70%;
    padding: 1rem;
}
.login-form .form-label,
.register-form .form-label {
    color: var(--main-color);
    font-size: var(--text-size);
    margin-bottom: 0.7rem;
}
.login-form .form-checkbox-label {
    color: var(--main-color);
    font-size: var(--text-size);
}
.login-form .form-input {
    color: var(--main-background-color);
    border-radius: 0;
}
.reset-password,
.already-registered {
    font-family: var(--text-font-family);
    font-size: var(--links-font-size);
    transition: var(--hover-transition);
}
.reset-password:hover,
.already-registered:hover {
    color: var(--main-color);
    transition: var(--hover-transition);
}
.cta-subscribe-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}
.cta-title {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: bold;
}
.cta-button {
    font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
    .login-form {
        width: 50%;
    }
}
