.all-categories-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem 2rem 2rem;
}

.all-categories-title {
    font-family: var(--title-font-family);
    font-size: var(--title-size);
    text-transform: var(--title-text-transform);
    font-weight: var(--title-font-weight);
    margin-bottom: var(--title-margin);
    text-align: center;
}

.navegacao-paginas {
    border: var(--main-color) 1px solid;
    padding: 0.4rem 0.6rem;
    cursor: pointer;
}
.navegacao-paginas-ativo {
    background-color: var(--accent-color);
    border: var(--accent-color) 1px solid;
}
