
.skills-block {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 0;
}

.skills-image-left,
.skills-image-right {
    background-color: #111827;
    height: 400px;
    overflow: hidden;
    padding: 0 !important;
    margin: 0 !important;
}

.skills-content-left,
.skills-content-right {
    background-color: white;
    font-family: 'Anek Tamil', sans-serif;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 400px;
}

.course-image {
    width: 100%;
    height: 100%;
    min-height: 400px;
    object-fit: cover;
    display: block;
    margin: 0;
    padding: 0;
}

.skills-title {
    font-size: 1.875rem;
    font-weight: bold;
    color: black;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.skills-description {
    color: #4B5563;
    margin-bottom: 1.5rem;
    line-height: 1.75;
}

.skills-link {
    display: inline-flex;
    align-items: center;
    color: #4F46E5;
    font-weight: 600;
    transition: color 0.3s;
}

.skills-link:hover {
    color: #DB2777;
}

.skills-link-text {
    margin-right: 0.5rem;
}

.skills-link-icon {
    width: 1.25rem;
    height: 1.25rem;
}

@media (min-width: 1024px) {
    .skills-block {
        grid-template-columns: repeat(2, 1fr);
    }

    .skills-content-left {
        order: 1;
    }

    .skills-image-right {
        order: 2;
    }
}
